// CSS HOMEPAGE
.mainwrapper-homepage {
  .slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    --fzTitle: 80px;
    &__item-wrap {
      width: 100%;
      height: 100%;
      .slider__item {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        &-text {
          @include mid;
          z-index: 10;
          h2 {
            font-size: 84px;
            text-transform: uppercase;
            font-family: pb;
            letter-spacing: 10px;
            line-height: normal;
            color: $yellow-cl;
            margin-bottom: 20px;

            @include sm {
              font-size: 40px;
            }
          }
        }
        &-img {
          @include midimg(initial);
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        // &.active {
        //   display: block;
        // }
      }
    }
    &__bottom {
      width: 100%;
      position: absolute;
      bottom: 15px;
      left: 0;
      .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-paging {
        display: flex;
        align-items: center;
        .number {
          font-size: 42px;
          color: $yellow-cl;
          font-family: pb;
          line-height: normal;
          display: flex;
          align-items: center;
          margin-right: 10px;
          letter-spacing: 1px;
          &:before {
            content: "";
            width: 45px;
            background: $yellow-cl;
            height: 2px;
            display: inline-block;
            margin-right: 10px;
          }
        }
        .dotted {
          ol {
            display: flex;
            li {
              width: 8px;
              height: 8px;
              background-color: #fff;
              opacity: 0.2;
              @include br(50%);
              margin: 0 6px;
              flex-shrink: 0;
              cursor: pointer;
              @include transition($t);
              &:hover,
              &.is-selected {
                opacity: 1;
                background-color: $yellow-cl;
                @include transition($t);
              }
            }
          }
        }
      }
      &-mouse {
        position: absolute;
        left: 50%;
        bottom: 20px;
        @include transform(translateX(-50%));
        @include keyframes(topdown) {
          0% {
            @include transform(translateY(0px));
            opacity: 0;
            @include transition(0.3s);
          }
          100% {
            @include transform(translateY(30px));
            opacity: 1;
            @include transition(0.3s);
          }
        }
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        img {
          &:first-child {
            margin-bottom: 10px;
          }
          &:last-child {
            @include animation(topdown 1s ease forwards infinite);
          }
        }
      }
      &-control {
        display: flex;
        .btnctr {
          width: 64px;
          height: 40px;
          border: 1px solid #fff;
          @include mid(true);
          @include transition($t);
          cursor: pointer;
          &:last-child {
            margin-left: -1px; // Làm dấu gạch ở giữa mỏng thêm 1px
          }
          &:hover {
            background: $yellow-cl;
            @include transition($t);
          }
        }
      }
    }
    @include md {
      --fzTitle: 80px;
      &__bottom {
        &-mouse {
          bottom: 20px;
        }
      }
    }
    // @include sm {
    //   --heighSlider: 600px;
    //   height: var(--heighSlider);
    //   &__item{
    //     height: var(--heighSlider);
    //   }
    // }
  }
  .products {
    --wImage: 520px;
    .product__img {
      overflow: hidden;
      img {
        max-width: 100%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        @include transition($t);
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
          @include transition($t);
        }
      }
    }
    .product {
      display: grid;
      grid-template-columns: 1fr var(--wImage);
      align-items: center;

      &:last-child {
        grid-template-columns: var(--wImage) 1fr;
        margin-top: 90px;
        .product__text {
          grid-area: 2/3/1/2;
        }
        .product__img {
          grid-column: 1/2;
          grid-row: 1/2;
        }
      }
    }

    @include sm {
      --wImage: 400px;
    }
    @include xs {
      .product {
        grid-template-columns: 1fr !important;
        &:last-child {
          margin-top: 60px;
          .product__text {
            grid-area: initial;
          }
          .product__img {
            grid-column: initial;
            grid-row: initial;
          }
        }
        .textbox {
          padding: 0;
          margin-bottom: 40px;
        }
      }
    }
  }

  .videos {
    padding-top: 0px !important;
    .video__item-wrap {
      display: flex;
      margin-top: 50px;
      justify-content: space-around;
      .video__item {
        text-align: center;
        &-img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
          margin: auto;
          .play_button {
            z-index: 1;
          }
          &:after {
            content: "";
            width: calc(100% + 15px);
            height: calc(100% + 15px);
            border: 15px solid #fff;
            border-radius: 50%;
            @include mid;
            z-index: 0;
          }
          > img {
            @include mid;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            max-width: 400px;
            max-height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%) scale(1));
            @include transition($t);
          }
          .play_button {
            @include mid;
          }
          &:hover {
            > img {
              @include transition($t);
              @include transform(translate(-50%, -50%) scale(1.04));
              filter: grayscale(10%);
              -webkit-filter: grayscale(100%) brightness(183%);
              -moz-filter: grayscale(100%) brightness(183%);
            }
          }
        }
        &-caption {
          &::before {
            content: "";
            width: 20px;
            height: 2px;
            display: block;
            background: $yellow-cl;
            margin: 18px auto;
          }
        }
      }
      @include xs {
        flex-direction: column;
        .video__item {
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .info {
    width: 100%;
    height: auto;
    background: url(/img/section-3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 180px 0;
    .container {
      height: 100%;
      display: flex;
    }
    .textbox {
      width: 600px;
      padding: 0;
      align-self: center;
      .titlemain {
        &::before {
          display: none;
        }
      }
    }
    @include sm {
      padding: 120px 0;
    }
  }
  .about {
    --wImage: 520px;
    .about__row {
      display: grid;
      grid-template-columns: var(--wImage) 1fr;

      .textbox {
        margin-left: -40px;
      }
    }
    @include sm {
      --wImage: 400px;
      .about__row {
        #section4 {
          width: -webkit-fill-available;
        }
        .textbox {
          margin-left: 0px;
          padding-left: 30px;
        }
      }
    }
    @include xs {
      .about__row {
        grid-template-columns: 1fr !important;
        .textbox {
          padding-left: 0px;
        }
      }
    }
  }
  .gallery {
    background: $black-cl;
    .textbox {
      max-width: 550px;
      padding: 0;
      margin-bottom: 20px;
      .titlemain {
        &:before {
          display: none;
        }
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 200px 200px;
      gap: 15px;
      &-item {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
          @include transform(translate(-50%, -50%) scale(1));
          @include transition($t);
        }
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba($color: #000, $alpha: 0);
          z-index: 10;
          @include transition($t);
        }
        &.item2 {
          grid-column: 2/3;
          grid-row: 1/3;
        }
        &:hover {
          img {
            @include transform(translate(-50%, -50%) scale(1.08));
            @include transition($t);
          }
          &::before {
            background: rgba($color: #000, $alpha: 0.4);
            @include transition($t);
          }
        }
      }
      @include sm {
        grid-auto-rows: 160px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .news {
    --heightImgNew: 200px;
    .textbox {
      max-width: 550px;
      padding: 0;
      margin-bottom: 20px;
      .titlemain {
        &:before {
          display: none;
        }
      }
    }
    &__tags {
      &-text {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        .tag {
          font-size: 40px;
          padding: 15px 30px;
          background: #ddd;
          cursor: pointer;
          transition: 0.3s;
          &:not(:last-child) {
            margin-right: 20px;
          }
          &:hover {
            opacity: 0.6;
            transition: 0.3s;
          }
          &.active {
            background: red;
            color: #fff;
            transition: 0.3s;
          }
        }
      }
    }
    &__list {
      display: none;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      &-item {
        .img {
          height: 0;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          padding-bottom: 70%;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            @include transform(translate(-50%, -50%) scale(1));
            @include transition($t);
          }
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($color: #000, $alpha: 0);
            z-index: 10;
            @include transition($t);
          }
          &:hover {
            img {
              @include transform(translate(-50%, -50%) scale(1.08));
              @include transition($t);
            }
            &::before {
              background: rgba($color: #000, $alpha: 0.4);
              @include transition($t);
            }
          }
        }
        .text {
          .title {
            margin-bottom: 5px;

            a {
              height: 48px;
              text-decoration: none;
              @include text(18px, pb, 24px, $text-black-cl, uppercase);
              @include overtext(2);
              @include transition($t);
              &:hover {
                color: $yellow-cl;
                @include transition($t);
              }
            }
            &::before {
              content: "";
              width: 80px;
              height: 3px;
              background: $yellow-cl;
              display: block;
              margin: 24px 0 20px 0;
            }
          }
          .des {
            @include overtext(3);
            height: 60px;
          }
        }
      }
      &.active {
        display: grid;
      }
      @include sm {
        &-item {
          .img {
            height: 140px;
          }
        }
      }
    }
    @include sm {
      --heightImgNew: 140px;
    }
    @include xs {
      &__list {
        grid-template-columns: 1fr;
        &-item {
          .img {
            height: 240px;
          }
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          .text {
            .title {
              margin-bottom: 10px;
              a {
                height: auto;
                @include overtext(initial);
              }
            }
            .des {
              height: auto;
              @include overtext(initial);
            }
          }
        }
      }
    }
  }
  .photos {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    padding-top: 0 !important;
    .item {
      // margin: 0 15px;
      img {
        max-width: 100%;
      }
    }
  }
  .popup-video {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    justify-content: center;
    align-items: center;
    .iframe-wrap {
      background: #000;
      border: 5px solid #eee;
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 600px;
      max-height: 338px;
    }
    .close {
      position: absolute;
      right: -5%;
      top: -7%;
      border-radius: 100px;
      cursor: pointer;
      font-size: 20px;
      width: 40px;
      height: 40px;
      background: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
